body{
    background-color: #fdfdfd;
    font-family: arial;
}  

input {
    border-radius: 5px;
    border: 1px solid #CCCCCC; 
    height: 3em;
    width: 30em;
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
}

.button {
    width: 30em;
    height: 4em;
    border-radius: 5px;
    background-color: #92EA29;
    color: white;
    border: 1px solid #FFFFFF; 
    cursor:pointer;	
}

.button:hover{
    background-color: #7cc91f;
}

#content1 {
    position: absolute;
    float: left;
    margin-left: 15%;
    margin-top: 2%;
}

#content2 {
    position: absolute;
    float: right;
    margin-left: 55%;
    margin-top: 2%;
}

#header {
    height: 4em;
    margin: -0.5%;
    padding: 5px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .80);
}

#title {
    position: absolute;
    margin-top: 1%;
    margin-left: 83%;
    font-size: 32px;
    font-family: cambria;
}

#logo {
    position: absolute;
    width: 5%;
    float: left;
    margin-left: 90%;
}